body{
overflow-x: hidden;
overflow-y: scroll;
margin: 0;
padding: 0;
position:relative;
font-family: "Segoe UI";
font-size:15px;
background-color:#36393f;
}

nav {
	position: fixed;
	background-color:#ffffff;
	width:100%;
	display: block;
	z-index: 98;
	margin: 0;
	padding: 0;
	top:-5px
}

nav a {
  float: left;
  display: block;
  color: #211545;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #15115E;
  color: white;
}

nav img {
	height: 40px;
	padding: 0;
	margin: 0;
}

.responsiveNav .icon {
  display: none;
}

/*changed to position absolute, to top*/
.codebg{
	width:100%;
	height: 405px;
	position: absolute;
	Z-index: -1;
	top:0px;
}

/*changed top out of it to get rid of weird padding */
.mainheading h1 {
  z-index: 100;
  color:#ffffff;
  Font-size:60px;
	margin-bottom: 1px;
}

.mainheading p{
	color:white;
	Font-size:50px;
	margin-top: 1px;
	padding-bottom:207px;
}

.mainheading h3 {
	margin:auto;
	padding-bottom:15px;
	color:white;
}


/*changed wrapperinfo to display white background box for 4 cards*/
.wrapperInfo4{
	display:block;
	width:87%;
	clear: both;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
	padding-bottom:1250px;


}
/*changed wrapperinfo to display white background box for 2 cards*/
.wrapperInfo2{
	display:block;
	width:87%;
	clear: both;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
	padding-bottom:625px;


}

/*css for the header in the white box*/
.wrapperInfo4 h1,
.wrapperInfo2 h1
{
	color:white;
	padding:15px;
	background-color:#2f3136;
}

.wrapper {
  float: left;
  width: 45%;
  padding-top: 50px;
  padding-left:38px;

}

.wrapper3 {
  float: left;
  width: 95%;
  padding-top: 50px;
  padding-left:38px;

}

.row{
	width:100%;
	clear: both;
	margin:auto;
	text-align:center;

}

.row img{
    width:250px;
	padding:0;
	margin:0;
}

.row .GoldImg{
	width:200px;
}
.row .BronzeImg{
	width:150px;
	padding:0;
	margin:0;
	animation-name: bronzeColor;
	animation-duration: 10s;
	animation-iteration-count:infinite;
}

article {
  background-image:url("../images/group.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align:center;

}

article h1{
	font-size:60px;
	margin:0;
	color:white;

}

article h2{
	font-size:35px;
	margin:0;
	color:white;
}

/*iframe is used to style embbeded youtube videos*/
iframe{
	display:block;
	width:100%;
	padding:0px;
	border: none;
}

.infoCards:after {
  display: table;
  clear: both;
}


.card_1 img{
	max-width: 100%;
    max-height: 300px;
}
.card_1 {
  padding: 16px;
  width:95%;
  height:500px;
  text-align:center;
  background-color: #f1f1f1;
}

.collapsible {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#15115E;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:16px;
	padding:19px 67px;
	text-decoration:none;
}

.collapsible:active {
	position:relative;
	top:1px;
}

#modal, #modal1{
display:none;
}

.modal-content{
width:80%;
font-size:20px;
text-align:left;
display:block;
margin:auto;
}

.modal-content .closebutton{
	position:relative;
	display:inline-block;
	float:right;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:42px;
	border:1px solid #002bff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:27px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 13px #ffffff;
}

.modal-content .closebutton:hover {
	background-color:#f6f6f6;
}

.modal-content .closebutton:active {
	position:relative;
	top:1px;
}

#modal-slideout{
animation-duration: 0.25s;
animation-name: slideout;
background-color:#f1f1f1;
color:black;
z-index: 1;
position: fixed;
width:100%;
height:100%;
overflow: auto;
left: 0;
top: 0;
animation-fill-mode: forwards;
}

#modal-slidein{
animation-duration: 0.25s;
animation-name: slidein;
background-color:#f1f1f1;
color:black;
z-index: 99;
position: fixed;
width:100%;
height:100%;
overflow: auto;
left: 0;
top: 0;
display:block;
}

#modal-slideout1{
animation-duration: 0.25s;
animation-name: slideout;
background-color:#f1f1f1;
color:black;
z-index: 1;
position: fixed;
width:100%;
height:100%;
overflow: auto;
left: 0;
top: 0;
animation-fill-mode: forwards;
}

#modal-slidein1{
animation-duration: 0.25s;
animation-name: slidein;
background-color:#f1f1f1;
color:black;
z-index: 99;
position: fixed;
width:100%;
height:100%;
overflow: auto;
left: 0;
top: 0;
display: block;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
	display:block;
  }
  to {
    margin-left: 100%;
	display:none;
  }

}
.sponsorback{
	display:block;
	width:87%;
	clear: both;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
}

footer{
	padding:20px 0;
	border-top:4px;
	color:white;
	clear:both;
	width:100%;
	background:#15115E;
	display:block;
	/* position: absolute; */
	float:left;
}

footer div{
	width:50%;
	text-align:center;
	float:left;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*@media screen is used to make the website more mobile friendly, making the cards fit to size and the nav to hide the a links */
@media screen and (max-width: 600px) {
  .wrapper {
  float: left;
  width: 100%;
  padding-top: 25px;
  padding-left:0px;
}

  .wrapper3 {
  float: left;
  width: 100%;
  padding-top: 25px;
  padding-left:0px;
}

.mainheading h1 {
  z-index: 100;
  color:#ffffff;
  padding-bottom:100px;
  Font-size:60px;
}

.wrapperInfo2{
	   width: 100%;
    display: block;
    margin-bottom: 0px;
	padding-bottom:900px;
}

.wrapperInfo4{
	width: 100%;
  display: block;
  margin-bottom: 0px;
	padding-bottom:1750px;

  }
.wrapperInfo {
  width: 100%;
  display: block;
  margin-bottom: 0px;
	padding-bottom:1750px;
  }

.card_1 {
  padding: 5px;
  width:95%;
  height:550px;
  margin:auto;
  text-align: center;
  background-color: #f1f1f1;
}

.modal-content{
width:100%;
}

.responsiveNav a:not(:first-child) {display: none;}
.responsiveNav a.icon {
    float: right;
    display: block;
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .responsiveNav.responsive {position: fixed;}
  .responsiveNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsiveNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* PB CODEAGE 9/5/20 */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

 .centre{
   margin:0 auto;
}

.pbwrapper{
  margin:0 auto;
  width:80%;
  padding-top: 20px;
  text-align:center;
}

.carousel{
  width:100%;
  margin:0px auto;
}

.slick-slide{
  margin:10px;
}

.slick-slide img{
  width:100%;
}

.slick-prev, .slick-next{
  background: #000;
  border-radius: 15px;
  border-color: transparent;
}

.card{
  border: 2px solid #fff;
	background-color: #f1f1f1;
  box-shadow: 1px 1px 15px #ccc;
}

.card-body{
  background: #f1f1f1;
  width: 100%;
  vertical-align: top;
}

.card-content{
	margin: auto 0;
	padding: 0 0 1em 0;
  color: #333;
}
.card-text{
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (min-width: 600px)  {
.card{
	flex: 0 1 calc(50% - 1em);
}

.card-header h3{
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	font-style: italic;
}
}

@media only screen and (min-width: 768px)  {
.card{
	flex: 0 1 calc(50% - 1em);
}
}

/* Button Style */
.button {
  margin: 0 auto;
  background-color:#15115E;
  border-radius:5px;
  height: 60px;
  width: 70%;
	padding: 1px 0 0 0;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	border-radius:5px;
	text-align: center;
	color: #fff;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
}

.plat{
	margin:0;
	background-color: #e5e4e2;
	padding: 4px 0 4px 0;
	width:100%;
}

.gold{
	margin:0;
	background-color: #d4af37;
	padding: 4px 0 4px 0;
	width:100%;
}

.silver{
	margin:0;
	background-color: #c0c0c0;
	padding: 4px 0 4px 0;
	width:100%;
}

.bronze{
	margin:0;
	background-color: #b08d57;
	padding: 4px 0 4px 0;
	width:100%;
}

.card-header h3{
	font-family:Arial;
	font-size:20px;
	text-decoration:none;
	font-style: italic;
}
